body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: darkgray;
	font-family: "lato", sans-serif;
}

/* Main grid */
#main-container {
	display: grid;
	height: 100%;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		". title . "
		"player weapons computer"
		". rounds .";
	justify-items: center;
	align-items: center;
}

/* Header, play button and try again button */
h1 {
	font-size: 75px;
	margin: 0 0 20px 0;
	grid-area: title;
}

#play-match, #try-again {
	position: absolute;
	margin: auto;
	border-radius: 50px;
	font-size: 70px;
	height: 140px;
	width: 140px;
	font-size: 2em;
	color: goldenrod;
	background-color:rgba(50, 88, 102, 0.8);
	border-color: goldenrod;
	box-shadow: 3px 3px 10px black;
	transition: 0.3s linear;
}

#play-match:hover, #try-again:hover {
	scale: 1.1;
	border-color: gold;
	background-color: rgba(21, 43, 43, 0.8);
	color: gold;
}

/* Weapon container */
.weapons {
	width: 40vw;
	height: 30vh;
	grid-area: weapons;
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	column-gap: 20px;
	justify-items: center;
	align-items: center;
}

/* Weapon buttons */
.weapons .btn {
	border-radius: 50px;
	font-size: 70px;
	height: 2em;
	width: 2em;
	background-color:rgba(50, 88, 102, 0.8);
	border-color: goldenrod;
	transition: 0.3s linear;
	box-shadow: 3px 3px 10px black;
}

.weapons .btn:hover {
	scale: 1.1;
	border-color: gold;
	background-color: rgba(21, 43, 43, 0.8);
}

/* Results  */


.player-stats {
	grid-area: player;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1.5em;
}

.player-stats > p {
	margin: 0;
}

.computer-stats  {
	grid-area: computer;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1.5em;
}

.computer-stats > p {
	margin: 0;
}

#round-result {
	grid-area: rounds;
	font-size: 2em;
}

.hide {
	display: none;
}