html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #451C19;
	font-family: "lato", sans-serif;
}

.hide {
	display: none;
	transition: 0.2s linear;
}

/* Main grid */
#main-container {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		". title . "
		"player weapons computer"
		". rounds .";
	justify-items: center;
	align-items: center;
}

/* Title, round counter, play button and try again button */
.title {
	grid-area: title;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-rows: 6rem 3.5rem;
	row-gap: 1rem;
}

h1 { 
	font-size: 6rem;
	color: #F3CB70;
	text-align: center;
}

#round-counter {	
	opacity: 0;
	color: #F3CB70;
	font-size: 3.5rem;
	transition: opacity 0.5s ease-in;
}

#play-match, #try-again {
	position: absolute;
	margin: auto;
	border-radius: 5rem;
	height: 14rem;
	width: 22rem;
	font-size: 2rem;
	color: #F3CB70;
	background-color:#25100B;
	border-color: #F3CB70;
	box-shadow: 3px 3px  #F3CB70;
	transition: 0.2s linear;
}

#play-match:hover, #try-again:hover {
	scale: 1.1;
	box-shadow: 3px 3px  #F3CB70;
}

/* Weapon container and buttons*/
.weapons {
	grid-area: weapons;
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	column-gap: 2rem;
	justify-items: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.weapons .btn {
	border-radius: 5rem;
	font-size: 7rem;
	height: 2em;
	width: 2em;
	color: #F3CB70;
	background-color:#25100B;
	border-color: #F3CB70;
	box-shadow: 3px 3px  #F3CB70;
	transition: scale 0.3s linear,
				box-shadow 0.3s linear;
}

.weapons .btn:hover {
	scale: 1.1;
}

/* Point counters  */

#player-stats {
	grid-area: player;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;	
	color: #315561;
	font-size: 3.5rem;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

#player-stats > p {
	margin: 0;
}

#computer-stats  {
	grid-area: computer;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: #C4462B;
	font-size: 3.5rem;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

#computer-stats > p {
	margin: 0;
}

/* Round results and fade in/out animations */

#round-result {
	grid-area: rounds;
	position: relative;
	color: #F3CB70;
	font-size: 3.5rem;
}

.weapons.fade-in,
#round-counter.fade-in, 
#player-stats.fade-in,
#computer-stats.fade-in
 {
	opacity: 1;
}

.fade-out {
	animation: fadeOut linear 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 0;
		bottom: -30px;
	}

	50% {
		opacity: 1;
		bottom: 0px;
	}

	100% {
		opacity: 0;
		bottom: 30px;
	}
}

/* Button glow styles */

.weapons > .glow-player {
	box-shadow: 0px 0px 10px 10px #315561;
}

.weapons > .glow-computer {
	box-shadow: 0px 0px 10px 10px #C4462B;
}

.weapons > .glow-both {
	box-shadow: 0px 0px 10px 10px #913593;
}